html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans', Arial, sans-serif;
}

p, label, th, span {
  font-size: 14px;
}

.heading {
  font-family: 'Lora', Times, serif;
  font-weight:  normal;
  font-size: 3em;
  margin-bottom: 1em;
}

.main-container {
  width: 56%;
  padding: 6% 4%;
  text-align: center;
}

.wide-text {
  margin-left: 10%;
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 90%;
  }
  .wide-text {
    margin-left: 0;
    width: 100%;
  }
}

#book {
  width: 48px;
  margin-bottom: 1em;
}

/* === content items === */

.dates-container {
  margin-left: 30%;
  width: 40%; /* to determine how far right the end date field will be */
  display: flex;
  justify-content: center; /* to get the inputs next to each other */
  margin-bottom: 1em;
}

.dates-container div:last-of-type {
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .dates-container {
    margin-left: 25%;
    width: 50%;
    flex-wrap: wrap;
  }
  .dates-container div:last-of-type {
    margin-left: 0;
  }
}

.dates-container input {
  margin-bottom: 4px;
}

/* ==== BEGIN TABLE STYLE ==== */

.data-field-container table {
  margin-left: 20%;
  width: 60%;
  border-collapse: collapse;
}

@media only screen and (max-width: 750px) {
  .data-field-container table {
    margin-left: 0;
    width: 100%;
  }
}

.data-field-container table thead {
  border-bottom: 2px solid #333;
}

.data-field-container table th {
  width: 33%;
}

.data-field-container table tbody {
  border-bottom: 2px solid #333;
}

.data-field-container table td {
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.data-field-container table td input {
  border: 0;
  outline: 0;
}

/* ==== END TABLE STYLE ==== */

#add-row-container {
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 20%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 750px) {
  #add-row-container {
    margin-left: 0;
    width: 100%;
  }
}

#add-row-container span {
  cursor: pointer;
  padding: 2px 6px;
  border: 1px solid #ddd;
}

#add-row-container span:hover {
  background-color: #f7f7f7;
}

.goal-container {
  margin-bottom: 1em;
}

.plot-container {
  color: #aaa;
}

footer {
  margin-top: 4em;
}
